.anim-order-1, .anim-order-2{
    opacity: 0;
}

/*
.swiper-slide.swiper-slide-active .swiper-inner,
.swiper-slide.swiper-slide-duplicate-active .swiper-inner{
  animation-name: fadeIn;
  animation-duration: 1.5s;
  animation-delay: 0s;
}
*/

.swiper-slide.swiper-slide-active .anim-order-1,
.swiper-slide.swiper-slide-duplicate-active .anim-order-1{
    animation-name: fadeInUp;
    animation-duration: .75s;
    animation-delay: .5s;
}
.swiper-slide.swiper-slide-active .anim-order-2,
.swiper-slide.swiper-slide-duplicate-active .anim-order-2{
    animation-name: fadeInUp;
    animation-duration: .75s;
    animation-delay: .8s;
}